
body, html {
    height: 100%;
    margin: 0;
    align:center;
}

.bgimg {
    background-image: url('pics/fi.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: top;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:red;
    font-family:Comic Sans MS;
}

